---
layout: layouts/home.njk
mainClass: h-feed
eleventyNavigation:
  key: "bit off"
  order: 1
---

{%- from "macros.njk" import postDate -%}
<header>
  <h1 class="h-name">bit off</h1>
  <p>
    <span class="p-summary">{{ metadata.description }}</span>
    <span>
      Written by
      <a href="{{ metadata.author.url }}" class="p-author h-card" rel="author">{{ metadata.author.name }}</a>.
    </span>
  </p>
</header>

{% for post in collections.posts | reverse %}
  <article class="postlist-item h-entry">
    <header>
      <h2 class="p-name">
        <a href="{{ post.url }}" class="u-url u-uid">
          {% if post.data.title -%}
            {{ post.data.title }}
          {%- else -%}
            <code>{{ post.url }}</code>
          {%- endif %}
        </a>
      </h2>
      {{ postDate(post) }}
    </header>
    {% if post.data.description -%}
      <p class="p-summary postlist-description">{{ post.data.description }}</p>
    {%- endif %}
  </article>
{% endfor %}
