/* Kudos https://www.robinrendle.com/notes/the-smallest-css/ */

:root {
  font-family: system-ui, sans-serif;
  /* test it
  color-scheme: light dark;
  */
}

body {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 70ch;
  line-height: 1.35;
  font-size: 115%;
}

img {
  max-width: 100%;
  height: auto;
}

/**
 * From: https://github.com/csstools/normalize.css/blob/main/opinionated.css
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
:where(code, kbd, samp, pre) {
  font-family: ui-monospace, monospace;
  font-size: 1em; /* 2 */
}

pre code {
  white-space: pre-wrap;
}

/* Direct Links / Markdown Headers */
.direct-link {
  font-family: sans-serif;
  text-decoration: none;
  font-style: normal;
  margin-left: 0.1em;
}
a[href].direct-link,
a[href].direct-link:visited {
  color: transparent;
}
a[href].direct-link:focus,
a[href].direct-link:focus:visited,
:hover > a[href].direct-link,
:hover > a[href].direct-link:visited {
  color: #aaa;
}

/* Unfck default styles */

@media screen and (max-width: 42em) {
  figure {
    margin-left: 0;
    margin-right: 0;
  }
}

/* Embeds */

iframe {
  max-width: 100%;
}

.embed-codesandbox > iframe {
  width: 100%;
  height: 500px;
}

/* Vanity styles */

figure {
  margin-top: 2em;
  margin-bottom: 2em;
}
figcaption {
  font-style: italic;
}
figcaption p {
  margin-top: 0.5rem;
}

.site-footer {
  margin-top: 3rem;
}

.site-nav > * {
  margin-right: 1rem;
}

.postlist {
  padding: 0;
}
.postlist-item {
  list-style: none;
  margin-bottom: 2rem;
}

.post-header {
  margin-bottom: 2rem;
}

.post-footer {
  margin-top: 2rem;
}
