{%- set absoluteUrl %}{{ page.url | url | absoluteUrl(metadata.url) }}{% endset -%}
<!doctype html>
<html lang="{{ metadata.language }}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title or metadata.title }}</title>
  <meta name="description" content="{{ description or metadata.description }}">
  <meta name="generator" content="{{ eleventy.generator }}">
  <meta name="color-scheme" content="dark light">
  <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
  <link rel="canonical" href="{{ canonical or absoluteUrl }}">
  <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml"
    title="{{ metadata.title }} RSS feed">
  <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/feed+json"
    title="{{ metadata.title }} JSON feed">
  <link href="https://github.com/jnv" rel="me authn">
</head>

<body {%- if templateClass %} class="{{ templateClass }}" {%- endif %}>
  <main {%- if mainClass %} class="{{ mainClass }}" {%- endif %}>
    {{ content | safe }}
  </main>
  <footer class="site-footer">
    <nav class="site-nav">
      {%- for entry in collections.all | eleventyNavigation %}
      {%- if entry.url != page.url %}
      <a href="{{ entry.url | url }}">{{ entry.title }}</a>
      {%- elif entry.url !== "/" %}
      <strong>{{ entry.title }}</strong>
      {% endif %}
      {%- endfor %}
    </nav>
  </footer>
  <!-- Current page: {{ page.url | url }} -->
</body>

</html>
