---
layout: layouts/base.njk
templateClass: tmpl-post
---

<header class="post-header">
  <h1 class="post-title">{{ title }}</h1>
  <p class="post-published">
    Published on
    <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
  </p>
</header>
{{ content | safe }}
<footer class="post-footer">
  <p>
    <small>
      Licensed under
      <a href="https://creativecommons.org/publicdomain/zero/1.0/" rel="license">
        <abbr title="Creative Commons Zero">CC0</abbr>
        1.0 Universal</a>. No rights reserved.
    </small>
  </p>
</footer>
