---
layout: layouts/base.njk
templateClass: tmpl-post
mainClass: h-entry
---

{%- from "macros.njk" import postDate -%}
<header class="post-header">
  <hgroup>
    <h1 class="post-title p-name">{{ title }}</h1>
    {% if description -%}
      <p class="p-summary post-description">{{ description }}</p>
    {%- endif %}
  </hgroup>
  {{ postDate(page, metadata.author) }}
</header>
<div class="e-content">
  {{ content | safe }}
</div>
<aside class="post-discussion">
  <h2>Comments</h2>
  <p>
    If you have any feedback, comments, or corrections on this post, <a href="mailto:{{ metadata.author.email }}?subject={{ title | urlencode }}">send me an email</a>.
  </p>
  {% if discussion %}
  <p>
    You can also discuss this post on {{ discussion | linkifyMap | safe }}.
  </p>
  {% endif %}
</aside>
{#
<footer
  class="post-footer">
      <p>
        <small>
          Licensed under
          <a href="https://creativecommons.org/publicdomain/zero/1.0/" rel="license">
            <abbr title="Creative Commons Zero">CC0</abbr>
            1.0 Universal</a>. No rights reserved.
        </small>
      </p>
</footer>
#}
